body {
    font-family: 'Google Sans', sans-serif;
    background-color: #f2f2f289;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #28cff54f;
    padding: 0px;
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.header h1 {
    font-size: 24px;
    font-weight: 500;
    color: #333333;
}

.body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.greetings {
    font-size: 32px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 20px;
}

.feat {
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    font-size: 16px;
    color: #333333;
    margin-bottom: 10px;
}

.startButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.start-btn {
    background-color: aquamarine;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.start-btn:hover {
    background-color: #08c466;
    text-decoration: none;
}

/* Glossy Background */
.glossy-background {
    background-image: linear-gradient(to bottom right, #ffffff7e, #f2f2f276);
}

.startTracking  {
    text-decoration: none;
}
